# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Production build output
/dist/
/build/

# Temporary files
.env
.env.*.local
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

# Editor/IDE specific files
.vscode/
.idea/
*.iml

# Test coverage
/coverage/

# npm package manager cache
.npm/

# Vite specific
.vite/